section{
  position: relative;
  min-height: 100vh;
  background-color: #d9d9d9;
  display:flex;
  justify-content: center;
  align-items: center;
}
section .container{
  display: flex;
  flex-direction: column;
  position: relative;
  width:800px;
  height:500px;
  background:#5175bd;
  box-shadow: 0 15px 50px rgba(0, 0, 0, .5);
  overflow: hidden;
}
/* .container1
{
  max-width: 350Px;
  position: relative;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: #00a6ca 0rem 0rem 15px 5px;
} */
section .container .user{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display:flex;
}
section .container .user .imgBox{
  position:relative;
  width:50%;
  height:100%;
  background-color: #5175bd;
  transition: 0.5s;
  color: white;
  margin-top: 24%;
  text-align: center;
}
section .container .user .imgBox img{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
}
section .container .user .formBox{
  position: relative;
  width:50%;
  height:100;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:40px;
  transition: 0.5s;
}
section .container .user .formBox h1{
  font-size: 40px;
  font-weight: 500;
  font: bold;
  text-align: center;
  width:100%;
  margin-bottom: 50px;
  color:#5071b4;
}
.error{
    color:red;
    font-size: 9.5px;
    font-weight: bold;
}
section .container .user .formBox h2{
  font-size: 30px;
  font-weight: 700;
  font: bold;
  text-align: center;
  width:100%;
  margin-bottom: 50px;
  color:#5071b4;
}
section .container .user .formBox input{
  width:100%;
  font-weight: 600;
  border:none;
  outline:none;
  font-size: 14px;
  letter-spacing: 0px;
  margin-top: 8px;
  border-bottom: 2px solid #5175bd;
}
section .container .user .formBox form input[type="firstname"]{
  font-size: 14px;
  width: 150px;
  color: black;
}
section .container .user .formBox form input[type="lastname"]{
  margin-left: 15px;
  font-size: 14px;
  width: 150px;
  color: black;
}
section .container .user .formBox form input[type="pass"]{
  font-size: 14px;
  width: 150px;
  color: black;
}
section .container .user .formBox form input[type="confirm"]{
  margin-left: 15px;
  font-size: 14px;
  width: 150px;
  color: black;
}
section .container .user .formBox form input[type="namecompany"]{
  font-size: 14px;
  width: 150px;
  color: black;
}
section .container .user .formBox form input[type="nameowner"]{
  margin-left: 15px;
  font-size: 14px;
  width: 150px;
  color: black;
}
.details1
{
    font-size: 16px;
    display: block;
    font-weight:bold;
    margin-bottom: 5px;    
} 
 .user-details1
{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 13px 0 0 0;
}
 .input-box1
{
   width: 100%; 
   margin-bottom: 15px; 
   font-size: 16px;
}
.details1
{
  display: block;
  font-weight:bold;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;  
}
.container1 form .user-details1 .input-box1 input:focus,
.container1 form .user-details1 .input-box1 input:valid
{
  border-color:#2177da

}

.signup1 a{
  font-weight: 600;
  text-decoration: none;
  color:#677eff

}

.check1 a{
  font-weight: 500;
  font: bold;
  text-decoration: none;
  color:#5175bd;
  font-size: 13.5px;
}
.check1{
  margin-bottom: 5%;
  margin-top: 1%;
  margin-left: 24.5%;
  font-size: 11px;
}
input:read-only
{
  background-color: rgb(190, 190, 190);

}
form .button1 input:hover{
  background: rgb(6, 6, 158);
  transition: all 0.3s ease;
}

.regis
{
    font-size: large;
}
.yellow_buttons1{
    height: 100%;
    border-radius: 50px;
    border-top-right-radius: 0px;
    font-size: 15px;
    margin-bottom: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #5175bd;
    border: none;
    float: left;
    width: 60%;
    color: white;
    margin-left: 7.3%;
}
.yellow_buttons1:hover{
    cursor: pointer;
    background-color: #5175bd;
    transition: background-color 1s ;
}
.button_containar1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.check1{
    display: flex;

}

@media (max-width: 650px)
{
    .yellow_buttons1{
        font-size: 11px;
    }
    .container1
    {
        max-width: 70%;
    }
     .input-box1
    {
     margin-bottom: 15px;
     width: 100%;
    }
    .main_body1{
        flex-direction: column;
    }

    .user-details1::-webkit-scrollbar
    {
        width: 0;
    }
    .yellow_buttons1{
        width: auto;
    }
    .check1{
        display: flex;
        flex-direction: column;
    }
    .input-box1 input{
        font-size: 12px;
    }
    .details1
    {
        font-size: 12px;
    }
    .check1 a{
        font-size: 14px;
    }
    .title1{
        font-size: 15px;
    }
}
.yellow_buttons1:hover{
  cursor: pointer;
  background-color: #3a0480;
  transition: background-color 1s ;
}
@media(max-width:991px){
  section .container{
      max-width: 400px;
  }
  section .container .imgBox{
      display: none;
  }
  section .container .user .formBox{
      width:100%;
  }
}
.floating-label-group {
	position: relative;
	margin-top: 20.5px;
}
	.floating-label {
		font-size: 13px;
		color: #5175bd;
		position: absolute;
		pointer-events: none;
		top: 2px;
		left: 0px;
		transition: all 0.1s ease;
	}
  input:focus ~ .floating-label,
	input:not(:focus):valid ~ .floating-label
  {
		top: -6px;
		bottom: 0px;
		left: 0px;
		font-size: 12px;
		opacity: 1;
		color: #5175bd;
	}
