
.main_body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url("signupBackGround.jpg");
    background-size: cover;
}
.container
{
    width: auto;
    max-width: 700Px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: #00a6ca 0rem 0rem 15px 5px;
}
.container .title
{
    font-size:25px;
    font-weight: bold;
    margin-bottom: 4%;
    text-align: center;
    position: relative;
}
.container form .user-details
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 13px 0 12px 0;
}
.container form .user-details .input-box
{
     width: calc(100% /2 - 20px);
     margin-bottom: 15px;
}
.details
{
    display: block;
    font-weight:bold;
    margin-bottom: 5px;
    font-size: 16px;
}
.input-box input{
    font-size: 16px;
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border:1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    padding-left:15px        
}
.container form .user-details .input-box input:focus,
.container form .user-details .input-box input:valid
{
    border-color:#2177da

}
.link
{
    
    margin-top: 15px;
}

form .login
{   
    margin-top: 25px;
}
.check a{
    font-weight: 600;
    text-decoration: none;
    color:#677eff;
    font-size: 15px;
  }
.check{
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 11px;
}
form .button
{
    height: 45px;
    margin:45px 0 ;
}
form .button input
{
    height: 80%;
    width: 100%;
    outline:none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    background: rgb(8, 117, 219);
}
form .button input:hover{
    background: rgb(6, 6, 158);
    transition: all 0.3s ease;
}
.input-box p
{
    color:red;
    font-size: 13px;
    font-weight: bold;
}
.regis
{
    font-size: large;
}
.yellow_buttons{
    height: 100%;
    border-radius: 50px;
    border-top-right-radius: 0px;
    font-size: 15px;
    margin-bottom: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #2177da;
    border: none;
    float: left;
    width: 35%;
    color: white;
    margin-left: 0px;
}
.yellow_buttons:hover{
    cursor: pointer;
    background-color: #3a0480;
    transition: background-color 1s ;
}
.button_containar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.check{
    display: flex;

}
@media (max-width: 650px)
{
    .container
    {
        max-width: 100%;
    }
    .container form .user-details .input-box
    {
     margin-bottom: 15px;
     width: 100%;
    }
    .main_body{
        flex-direction: column;
    }

    .user-details::-webkit-scrollbar
    {
        width: 0;
    }
    .yellow_buttons{
        width: auto;
    }
    .check{
        display: flex;
        flex-direction: column;

    }
    .input-box input{
        font-size: 12px;

    }
    .details
    {
        font-size: 12px;
    }
    .check a{
        font-size: 14px;
    }
    .title{
        font-size: 15px;
    }

}
