.pro7{
    margin-left: 7%;
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-basis: 35%;
}

.img7{
    height: 130px;
    width: 130px;
    object-fit: cover;
    background-color: #caf0f8;
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 0px;
}

.btnedit{

    margin-top: 1%;
}
.update7{
width: 40%;


}
.info_part{
    width: 20%;
}
.form7{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.profileUser1_btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}