.PostBody{
    width:90% ;
    margin: 5%;
}
.mainBody{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Post_main_Body{
    width: 80%;
    height: auto;
    padding: 2%;
    margin: 2%;
    border: 2px solid #1976d2;
    border-radius: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-basis: 30%;
    margin-left:9% ;
    background-color: white;
}
.Post_main_Body p{
    font-size: 20px;
    margin: 0px;
    width: 33%;

}
.Post_main_Body_link:hover{
    cursor: pointer;
}